services:
  mysql:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: grocery_management_mysql_db
    volumes:
      - grocery_management_data:/var/lib/mysql
  redis:
    image: redis:latest
    ports:
      - 6379:6379
volumes:
  grocery_management_data:
